body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("../assets/img/backGround.jpg");
    /* مسار الصورة */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(12px);
    transform: scale(1.1);

    z-index: -2;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

body {
    background: var(--primary-gradient);
    display: flex;
    align-items: center;
}

.signup-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.btn-register {
    background: var(--primary-gradient);
    border: none;
    transition: transform 0.3s;
}

.btn-register:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

.form-control {
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #eee;
}

.form-control:focus {
    box-shadow: 0 0 10px rgba(118, 75, 162, 0.2);
    border-color: var(--md-sys-color-tertiary-container);
}