:root {
  --primary-color: rgb(0 109 52);
  --md-sys-color-surface-tint: rgb(0 109 52);
  --md-sys-color-on-primary: rgb(255 255 255);
  --primary-color-container: rgb(61 196 109);
  --md-sys-color-on-primary-container: rgb(0 75 34);
  --md-sys-color-secondary: rgb(58 104 69);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(185 236 191);
  --md-sys-color-on-secondary-container: rgb(62 108 73);
  --md-sys-color-tertiary: rgb(0 109 52);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(61 196 109);
  --md-sys-color-on-tertiary-container: rgb(0 75 34);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(244 252 241);
  --md-sys-color-on-background: rgb(22 29 23);
  --md-sys-color-surface: rgb(244 252 241);
  --md-sys-color-on-surface: rgb(22 29 23);
  --md-sys-color-surface-variant: rgb(224 227 227);
  --md-sys-color-on-surface-variant: rgb(68 71 72);
  --md-sys-color-outline: rgb(116 120 120);
  --md-sys-color-outline-variant: rgb(196 199 200);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 50 43);
  --md-sys-color-inverse-on-surface: rgb(235 243 232);
  --md-sys-color-inverse-primary: rgb(92 223 132);
  --primary-color-fixed: rgb(122 252 158);
  --md-sys-color-on-primary-fixed: rgb(0 33 11);
  --primary-color-fixed-dim: rgb(92 223 132);
  --md-sys-color-on-primary-fixed-variant: rgb(0 82 38);
  --md-sys-color-secondary-fixed: rgb(188 239 194);
  --md-sys-color-on-secondary-fixed: rgb(0 33 11);
  --md-sys-color-secondary-fixed-dim: rgb(160 211 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(34 80 47);
  --md-sys-color-tertiary-fixed: rgb(122 252 158);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 11);
  --md-sys-color-tertiary-fixed-dim: rgb(92 223 132);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 82 38);
  --md-sys-color-surface-dim: rgb(213 220 210);
  --md-sys-color-surface-bright: rgb(244 252 241);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(238 246 235);
  --md-sys-color-surface-container: rgb(233 240 229);
  --md-sys-color-surface-container-high: rgb(227 234 224);
  --md-sys-color-surface-container-highest: rgb(221 229 218);


  --primary-gradient: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-color-container) 100%);
  --glass-bg: rgba(255, 255, 255, 0.85);

  --text-dark: #2b2d42;

  --danger-color: #ef233c;

  --card-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

}